manifest {
	author = "Christian Schudoma"
	defaultBranch = "main"
	description = "Metagenomics Functional Profiler"
	name = "nevermore_profiler"
	nextflowVersion = ">=22.10.6"
	version = "0.13.1"
}

process {
	withName: prepare_fastqs {
		executor = "local"
		scratch = null
		container = null
	}
    withLabel: kraken2 {
        container = "registry.git.embl.de/schudoma/kraken2-docker:latest"
    }
    withLabel: bbduk {
        container = "quay.io/biocontainers/bbmap:39.06--h92535d8_0"
    }
	withLabel: gffquant {
		container = "ghcr.io/cschu/gff_quantifier:v2.16.5"
	}
}

params {
	input_dir = null
    
    //output
    output_dir = null

	gq_database = null

    run_preprocessing = true
    remove_host = false
    drop_orphans = false
    qc_minlen = 45
    qc_params_shotgun = "qtrim=rl trimq=3 maq=25 ktrim=r k=23 mink=11 hdist=1 ftm=5 entropy=0.5 entropywindow=50 entropyk=5 tpe tbo"
    remove_host_kraken2_db = null
    kraken2_min_hit_groups = 10

	min_identity = 0.97
	min_alignment_length = 45
	single_end_library = false
			
    
}

docker {
	enabled = true
}